---
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Mi Galería</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <h1>Mi portafolio</h1>
      <p>Arte digital</p>

      <nav>
        <a href="/gallery">Galería</a>
      </nav>
    </main>
  </body>
</html>
